@import './icon.scss';

:root {
  --border-color: #dddddd;
  --primary-color: #27d562;
  --primary-dark-color: var(--gray-100, #374957);
  --primary-gray-color: var(--gray-60, #87929a);
  --primary-light-gray: var(--gray-20, #d7dbdd);
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.profile {
    width: 57px;
    height: 57px;
    border-radius: 200px;
    background: #ececec;
  }
  &.count {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    border: 1px solid var(--gray-20, #d7dbdd);
    &:hover {
      background: var(--gray-20, #d7dbdd);
    }
  }
}
