.date-range-picker {
  .rdrDateRangePickerWrapper {
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    left: -210px;
    top: 80px;
    z-index: 10;
  }

  .rdrMonth {
    background-color: #fff;
  }

  .rdrDayNumber span {
    color: #333;
  }

  .rdrDayToday .rdrDayNumber span {
    &::after {
      background: var(--border-color);
    }
  }

  .rdrDaySelected .rdrDayNumber span {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }

  .rdrDefinedRangesWrapper,
  .rdrDateDisplayWrapper {
    display: none; /* 사전 정의된 범위 선택을 숨깁니다. 필요하면 제거하세요. */
  }
}
